@{
    ViewData["Title"] = "Reg Page";
}
<div class="login-clean" style="height:649px;background-image:url(/assets/img/FisherMason.jpg);">
    <form action="" method="post">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-navigate" style="color:#bb0000;"></i></div>
        <div class="form-group">
            <div class="input-group">
                <input class="form-control js_email" type="text" name="email" placeholder="Email" maxlength="10">
                <span class="input-group-addon" id="basic-addon2">@@osu.edu</span>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control js_pwd" type="password" name="password" placeholder="Password" maxlength="15">
        </div>
        <div class="form-group">
            <input class="form-control js_repwd" type="password" name="password" placeholder="Confirm Password" maxlength="15">
        </div>
        <div class="form-group">
            <!--<button class="btn btn-primary btn-block" type="submit" style="background-color:#bb0000;">Log In</button>-->
            <a class="btn btn-primary btn-block js_reg" style="background-color:#bb0000;">Register</a>
        </div><a href="/User/Login" class="forgot">Log In?</a>
        <div style="width:1200px;"></div>
    </form>
</div>


<script>
    $(".js_reg").click(function () {

        if ($(".js_email").val() == "") {
            alert("email is null");
            return;
        }
        if ($(".js_pwd").val() != $(".js_repwd").val()) {
            alert("Password input inconsistent");
            return;
        }
        if ($(".js_pwd").val() == "" || $(".js_pwd").val().length < 6) {
            alert("Password is invalid");
            return;
        }
        $.ajax({
            type: 'POST',
            url: "/User/RegDo",
            data: { email: $(".js_email").val() + "@@osu.edu", pwd: $(".js_pwd").val() },
            //dataType: dataType,
            success: function (res) {
                if (res == "1") {
                    alert("register success!");
                    window.location.href = "/Home/Index";
                }
                else {
                    alert(res);
                }
            }
        });
    })

</script>
